@model IEnumerable<aimtechloansystem.Models.EMI>

@{
    ViewData["Title"] = "Index";
}
<nav class="navbar navbar-expand-md fixed-top" style="background-color:#f2131f">

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a asp-action="CustomerList" asp-controller="Customers">
                    <img src="~/images/aimtechlogo.jpg" sizes="50px" alt="logo" width="50px" height="35px" />
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="CustomerList" asp-controller="Customers">
                    <h5 style="color:white;">AIM TECH LOAN</h5>
                </a>
            </li>
            <li class="nav-item"><a class="nav-link" asp-controller="Customers" asp-action="Index" style="color:white">CUSTOMERS</a> </li>
            <li class="nav-item"><a class="nav-link" asp-controller="EMI" asp-action="EndOfmonths" style="color:white">REPORTS</a> </li>
            <li class="nav-item"><a class="nav-link" asp-controller="Customers" asp-action="PaidCustomerList" style="color:white">HISTORY</a> </li>

        </ul>
    </div>
    <div class="form-inline">
        @await Html.PartialAsync("_loginPartial")
    </div>
</nav>

<p>
    <a asp-action="Create" class="btn-sm btn-primary">Add EMI</a>
</p>
<table class="table table-sm mb-0 index-table table-striped table-bordered table-responsive-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMIAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMIDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LateFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanBal)
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMIAmount)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.EMIDate)*@
                    @Convert.ToDateTime(item.EMIDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LateFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanBal)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn-sm btn-secondary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
